* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.imgPortada {
  width: 100%; }

header :hover {
  color: #929292; }

.navegacion {
  background-color: #008A78;
  text-align: center;
  font-size: 1.2rem; }
  .navegacion ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .navegacion ul li a {
      color: lavenderblush;
      text-decoration: none;
      margin: 20px;
      font-family: 'Roboto Condensed', sans-serif; }
    .navegacion ul li .contactoActivo {
      color: #3d3d3d;
      font-weight: 700; }
    .navegacion ul li .indexActivo {
      color: #3d3d3d;
      font-weight: 700; }
    .navegacion ul li .negociosActivo {
      color: #3d3d3d;
      font-weight: 700; }
    .navegacion ul li .paseosActivo {
      color: #3d3d3d;
      font-weight: 700; }
    .navegacion ul li .propiedadesActivo {
      color: #3d3d3d;
      font-weight: 700; }
    .navegacion ul li .segurosActivo {
      color: #3d3d3d;
      font-weight: 700; }

a {
  font-family: 'Roboto Condensed', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fondofooter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  background-color: #005F50;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: azure;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: 20px; }

.footer {
  align-items: flex-end; }

#tituloPrincipal {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 50px;
  color: #4b4b4b; }

#presentacionEmpresa {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: #6b6a6a;
  line-height: 25px; }

/*inicio cards empresas */
.contenedor-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 50px; }

.container__card {
  overflow: hidden;
  box-shadow: 1px 1px 2px 1px #818181;
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.25rem; }

.container__card:hover {
  transform: scale(1.02);
  transition: 0.5s;
  border: solid 5px #ffffff; }

.card_img {
  width: 100%;
  margin-top: 2rem; }

.titulo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #003F32; }

.card__texto {
  margin: 1rem 2rem;
  font-size: 0.9rem; }

.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #f3e1e1;
  padding: 0.5rem 0 0.5rem 0;
  background-color: #008A78;
  border-radius: 15px;
  width: 55%; }

/*inicio paseos virtuales*/
.negociosInmobiliarios {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  margin-top: 100px; }

.negociosInmobiliarios__parrafo {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%; }

.contenedorPropiedades {
  border: 10px solid #ececec;
  display: grid;
  grid-column: 1fr 1fr;
  display: -ms-grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
  border-radius: 20px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto Condensed', sans-serif; }
  .contenedorPropiedades .contenedorVenta {
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #ececec;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto Condensed', sans-serif; }
  .contenedorPropiedades .contenedorAlquiler {
    width: 100%;
    height: 100%px;
    padding: 30px;
    background-color: #ececec;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px; }

section div h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  background-color: white;
  border-radius: 20px; }

.imagenes {
  border-radius: 20px;
  width: 100%;
  height: auto; }

.imagenes:hover {
  transform: scale(1.02);
  transition: 0.5s;
  border: solid 5px #ffffff; }

section div p {
  padding-top: 10px; }

/* propiedades en venta */
#carouselExampleControls {
  margin-left: 20%;
  margin-right: 20%; }

.bodyProp {
  background-color: #f8f8f8; }

/* inicio finanzas */
.finanzas {
  background-color: #000000; }
  .finanzas .PresentacionFinanzas__subtexto {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 10px 80px 20px 80px;
    color: #c7c7c7;
    font-weight: 500;
    padding-bottom: 50px; }
  .finanzas .PresentacionFinanzas {
    text-align: center;
    color: #f8f8f8;
    font-size: 1.8rem;
    margin-bottom: 40px;
    padding-top: 50px;
    font-family: 'Roboto Condensed', sans-serif; }
  .finanzas .PresentacionFp {
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 50px;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 20px; }

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  size-adjust: auto; }

/*contacto*/
.mainContacto {
  display: flex;
  justify-content: space-evenly; }

.formularioContacto {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.mainContacto {
  background-image: url(../images/img-contacto.png); }

@media screen and (max-width: 630px) {
  .sectionGrid {
    display: inline-block; } }

@media screen and (max-width: 630px) {
  .imgGrid {
    width: auto;
    height: 200px; } }
