* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondofooter {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: $verdemedio;
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: azure;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 20px;
}
.footer{
    align-items: flex-end;
}
